This notebook is to combine all the data that we've collected and cleaned into a CSV file for further EDA. In particular,
- Opioid-related death counts and death rates
- Counts and density of healthcare facility with ER services
- Counts and density of hospital beds
- Prescriptions
- Heroin Deaths
- Fentanyl deaths
- Poverty
- Unemployment

In [2]:
# import packages
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# increase the size and quality of any plots we produce
import matplotlib as mpl

mpl.rcParams["figure.dpi"] = 150

## Poverty data by County

In [3]:
# load files
county_poverty = pd.read_csv("https://raw.githubusercontent.com/mellanyquiroz/DS4A-TeamProject/master/data/county_poverty.csv")
county_poverty.head()

,County,County_group,CPM_rate,CPM_rate_margin_ error,CPM_number,CPM_number_margin_error,official_rate,official_rate_margin_error,CPM_child_rate,CPM_child_rate_margin_error,...,increase_no_CalFresh,increase_no_CalFresh_margin_error,increase_no_CalWorks_GA,increase_no_CalWorks_GA_margin_error,increase_no_EITC,increase_no_EITC_margin_error,increase_no_CTC,increase_no_CTC_margin_error,increase_no_CALEITC_YCTC,increase_no_CALEITC_YCTC_margin_error
0,Alameda,Alameda,14.1%,0.7,"229,400","11,200",8.2%,0.6,14.5%,1.5,...,0.8,0.2,0.6,0.2,0.8,0.3,0.3,0.2,0.1,0.1
1,Alpine,Alpine/Amador/Calaveras/Inyo/Mariposa/Mono/Tuo...,13.2%,2.7,"23,700","4,800",10.9%,2.2,13.6%,5.9,...,1.0,0.7,0.4,0.4,0.9,0.7,0.4,0.5,0.1,0.3
2,Amador,Alpine/Amador/Calaveras/Inyo/Mariposa/Mono/Tuo...,13.2%,2.7,"23,700","4,800",10.9%,2.2,13.6%,5.9,...,1.0,0.7,0.4,0.4,0.9,0.7,0.4,0.5,0.1,0.3
3,Butte,Butte,17.9%,2.0,"39,000","4,200",16.7%,2.0,11.6%,3.3,...,2.7,1.4,0.6,0.6,2.0,1.2,0.7,0.6,0.1,0.1
4,Calaveras,Alpine/Amador/Calaveras/Inyo/Mariposa/Mono/Tuo...,13.2%,2.7,"23,700","4,800",10.9%,2.2,13.6%,5.9,...,1.0,0.7,0.4,0.4,0.9,0.7,0.4,0.5,0.1,0.3

In [5]:
# Keep only County, Rate and CPM number
county_poverty_cleaned = county_poverty[["County","CPM_rate","CPM_number"]]
county_poverty_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      58 non-null     object
 1   CPM_rate    58 non-null     object
 2   CPM_number  58 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

In [13]:
# Remove "%"
county_poverty_cleaned["CPM_rate"] = county_poverty_cleaned["CPM_rate"].str.strip("%")
county_poverty_cleaned["CPM_number"] = county_poverty_cleaned["CPM_number"].str.strip("").str.replace(",","")

/tmp/ipykernel_70799/566761650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_poverty_cleaned["CPM_rate"] = county_poverty_cleaned["CPM_rate"].str.strip("%")
/tmp/ipykernel_70799/566761650.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_poverty_cleaned["CPM_number"] = county_poverty_cleaned["CPM_number"].str.strip("").str.replace(",","")

In [16]:
# Change data type
county_poverty_cleaned["CPM_rate"] = county_poverty_cleaned["CPM_rate"].astype(float)
county_poverty_cleaned["CPM_number"] = county_poverty_cleaned["CPM_number"].astype(float)

/tmp/ipykernel_70799/823830131.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_poverty_cleaned["CPM_rate"] = county_poverty_cleaned["CPM_rate"].astype(float)
/tmp/ipykernel_70799/823830131.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_poverty_cleaned["CPM_number"] = county_poverty_cleaned["CPM_number"].astype(float)

In [17]:
county_poverty_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      58 non-null     object
 1   CPM_rate    58 non-null     float64
 2   CPM_number  58 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.5+ KB

## Employment and Unemployment data by County

In [49]:
county_employment = pd.read_csv("https://raw.githubusercontent.com/mellanyquiroz/DS4A-TeamProject/master/data/Cleaned_Civilian_Employment_Data_by_County_2015-2020%20(1).csv")
county_employment.head()

,Unnamed: 0,Employment,Jan-15,Feb-15,Mar-15,Apr-15,May-15,Jun-15,Jul-15,Aug-15,...,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21,COUNTY
0,0,Civilian Labor Force,21450.0,21380.0,21420.0,21410.0,21760.0,21730.0,21770.0,21640.0,...,19710.0,19470.0,19730.0,19830.0,20050.0,20100.0,19900.0,19690.0,19610.0,Tuolumne
1,1,Civilian Employment,19620.0,19620.0,19700.0,19860.0,20270.0,20200.0,20220.0,20210.0,...,18100.0,18000.0,18380.0,18340.0,18570.0,18680.0,18680.0,18510.0,18540.0,Tuolumne
2,2,Civilian Unemployment,1830.0,1770.0,1720.0,1550.0,1480.0,1530.0,1550.0,1430.0,...,1610.0,1470.0,1350.0,1490.0,1480.0,1420.0,1220.0,1190.0,1070.0,Tuolumne
3,3,Civilian Unemployment Rate,8.5,8.3,8.0,7.2,6.8,7.0,7.1,6.6,...,8.2,7.6,6.8,7.5,7.4,7.0,6.1,6.0,5.4,Tuolumne
4,32,Civilian Labor Force,7600.0,7550.0,7610.0,7580.0,8100.0,8330.0,8300.0,8360.0,...,7230.0,7350.0,7830.0,8140.0,8220.0,8220.0,8000.0,7800.0,7400.0,Plumas

In [50]:
# Check employment column
county_employment["Employment"].unique()

array(['Civilian Labor Force', 'Civilian Employment',
       'Civilian Unemployment', 'Civilian Unemployment Rate'],
      dtype=object)

In [51]:
# Check COUNTY column
county_employment["COUNTY"].value_counts()

Tuolumne                                                                  4
Plumas                                                                    4
San Mateo                                                                 4
Sierra                                                                    4
Lassen                                                                    4
                                                                         ..
Contra Costa                                                              4
San Luis Obispo Paso Robles Arroyo Grande MSA (San Luis Obispo County)    4
Riverside                                                                 4
El Centro MSA (Imperial County)                                           4
Madera MSA (Madera County)                                                4
Name: COUNTY, Length: 64, dtype: int64

In [52]:
# In order to merge, we can only use County name data
# Filter out the rows with MSA
county_employment["to_delete"] = county_employment["COUNTY"].str.contains("MSA|MD", regex=True, case = False)
county_employment_cleaned = county_employment[county_employment["to_delete"]==False]
county_employment_cleaned["COUNTY"].unique()

array(['Tuolumne', 'Plumas', 'Del Norte', 'Yuba', 'Alameda', 'Mariposa',
       'Sacramento', 'San Benito', 'Modoc', 'Mendocino', 'Santa Clara',
       'Colusa', 'Inyo', 'Nevada', 'Tehama', 'Contra Costa', 'Riverside',
       'Calaveras', 'Amador', 'San Mateo', 'Sierra', 'Lassen', 'Yolo',
       'San Bernardino', 'Sutter', 'Alpine', 'San Francisco', 'El Dorado',
       'Glenn', 'Mono', 'Placer', 'Humboldt', 'Trinity', 'Lake',
       'Siskiyou'], dtype=object)

In [53]:
# Remove columns
county_employment_cleaned = county_employment_cleaned.drop(columns=["Unnamed: 0","to_delete"])
county_employment_cleaned.head()

,Employment,Jan-15,Feb-15,Mar-15,Apr-15,May-15,Jun-15,Jul-15,Aug-15,Sep-15,...,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21,Sep-21,Oct-21,Nov-21,COUNTY
0,Civilian Labor Force,21450.0,21380.0,21420.0,21410.0,21760.0,21730.0,21770.0,21640.0,21580.0,...,19710.0,19470.0,19730.0,19830.0,20050.0,20100.0,19900.0,19690.0,19610.0,Tuolumne
1,Civilian Employment,19620.0,19620.0,19700.0,19860.0,20270.0,20200.0,20220.0,20210.0,20250.0,...,18100.0,18000.0,18380.0,18340.0,18570.0,18680.0,18680.0,18510.0,18540.0,Tuolumne
2,Civilian Unemployment,1830.0,1770.0,1720.0,1550.0,1480.0,1530.0,1550.0,1430.0,1330.0,...,1610.0,1470.0,1350.0,1490.0,1480.0,1420.0,1220.0,1190.0,1070.0,Tuolumne
3,Civilian Unemployment Rate,8.5,8.3,8.0,7.2,6.8,7.0,7.1,6.6,6.2,...,8.2,7.6,6.8,7.5,7.4,7.0,6.1,6.0,5.4,Tuolumne
4,Civilian Labor Force,7600.0,7550.0,7610.0,7580.0,8100.0,8330.0,8300.0,8360.0,8160.0,...,7230.0,7350.0,7830.0,8140.0,8220.0,8220.0,8000.0,7800.0,7400.0,Plumas

In [54]:
# save to file for individual EDA work
county_employment_cleaned.to_csv("/home/thuy/Documents/Data Science/02. DS4A/Capstone_teamrepo/DS4A-TeamProject/data/Cleaned_Civilian_Employment_Data_by_County_2015-2020_2.csv")

## Death Counts and Death Rates by County

Opioid-related death counts and death rates by county from 2015 to 2020

In [61]:
allcounty_opioid = pd.read_csv("https://raw.githubusercontent.com/mellanyquiroz/DS4A-TeamProject/master/data/Opioid_Deaths_by_County_2015-2020.csv")
allcounty_opioid.head()

      County  Rates  Counts  Year
0    Alameda   3.82    68.0  2015
1     Alpine   0.00     0.0  2015
2     Amador   3.75     2.0  2015
3      Butte   7.48    18.0  2015
4  Calaveras  17.97     9.0  2015

In [62]:
# Take out California data
county_opioid = allcounty_opioid[allcounty_opioid["County"] != "California"]
county_opioid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 0 to 359
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  354 non-null    object
 1   Rates   348 non-null    float64
 2   Counts  354 non-null    float64
 3   Year    354 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 13.8+ KB

Heroin-related death counts and death rates by county from 2015 to 2020

In [63]:
county_heroin = pd.read_csv("https://raw.githubusercontent.com/mellanyquiroz/DS4A-TeamProject/master/data/Cleaned_Heroin_Deaths_by_County_2015-2020.csv")
county_heroin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  354 non-null    object
 1   Rates   348 non-null    float64
 2   Counts  354 non-null    float64
 3   Year    354 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.2+ KB

Prescription drug-related death counts and death rates by county from 2015 to 2020

In [70]:
county_prescription = pd.read_csv("https://raw.githubusercontent.com/mellanyquiroz/DS4A-TeamProject/master/data/Cleaned_Prescription_Opioid_Deaths_by_County_2015-2020.csv")
county_prescription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  352 non-null    object
 1   Rates   346 non-null    float64
 2   Counts  352 non-null    float64
 3   Year    352 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.1+ KB

Fentanyl-related death counts and death rates by county from 2015 to 2020

In [65]:
county_fentanyl = pd.read_csv("https://raw.githubusercontent.com/mellanyquiroz/DS4A-TeamProject/master/data/Fentanyl_Deaths_by_County_2015-2020.csv")
county_fentanyl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  336 non-null    object
 1   Rates   336 non-null    float64
 2   Counts  336 non-null    float64
 3   Year    336 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.6+ KB

In [73]:
county_deaths = county_opioid.merge(county_prescription, on=["County","Year"], suffixes=["_opioid","_pres"])
county_deaths.head()

      County  Rates_opioid  Counts_opioid  Year  Rates_pres  Counts_pres
0    Alameda          3.82           68.0  2015        2.73         50.0
1     Alpine          0.00            0.0  2015        0.00          0.0
2     Amador          3.75            2.0  2015        3.75          2.0
3      Butte          7.48           18.0  2015        6.51         16.0
4  Calaveras         17.97            9.0  2015       14.25          7.0

In [74]:
heroin_fentanyl = county_heroin.merge(county_fentanyl,on=["County","Year"], suffixes=["_heroin","_fentanyl"])
heroin_fentanyl.head()

,County,Rates_heroin,Counts_heroin,Year,Rates_fentanyl,Counts_fentanyl
0,Alameda,0.66,11.0,2015,0.24,4.0
1,Alpine,0.00,0.0,2015,0.00,0.0
2,Amador,0.00,0.0,2015,0.00,0.0
3,Butte,0.44,1.0,2015,0.33,1.0
4,Calaveras,3.28,1.0,2015,2.81,1.0

In [75]:
allmerged = county_deaths.merge(heroin_fentanyl, on=["County","Year"])
allmerged.head()

,County,Rates_opioid,Counts_opioid,Year,Rates_pres,Counts_pres,Rates_heroin,Counts_heroin,Rates_fentanyl,Counts_fentanyl
0,Alameda,3.82,68.0,2015,2.73,50.0,0.66,11.0,0.24,4.0
1,Alpine,0.00,0.0,2015,0.00,0.0,0.00,0.0,0.00,0.0
2,Amador,3.75,2.0,2015,3.75,2.0,0.00,0.0,0.00,0.0
3,Butte,7.48,18.0,2015,6.51,16.0,0.44,1.0,0.33,1.0
4,Calaveras,17.97,9.0,2015,14.25,7.0,3.28,1.0,2.81,1.0

In [77]:
# save to file
allmerged.to_csv("/home/thuy/Documents/Data Science/02. DS4A/Capstone_teamrepo/DS4A-TeamProject/data/Deaths_merged_data_county_2015_2020.csv")